.navAll{
    width: 100%;
    height: 100px;
    background-color: #708090;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    justify-content: space-between;
}
.navAll div{
    display: flex;
    align-items: center;
}
.navAll svg{
    font-size: 60px;
    color: white;
    margin-right: 15px;
}
div.dropdown-menu{
    background-color: black;
}
.navAll h1{
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-right:solid 5px #B0C4DE;
    padding: 15px 15px 15px 0;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.navAll div{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}

@media only screen and (max-width: 500px){
    .navAll div div{
        display: none;
    }
}

@media only screen and (max-width:230px){
    .navAll div h1 {
        display: none;
    }
    .navAll{
        justify-content: center;
    }
}